<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML desde nodejs</title>
    <style>
        h1{ color: purple; }
        h2{ color: crimson; }
        h3{ color: green; }
        h4{ color: orangered; }
        p{ color: blue; }
    </style>
</head>
<body>
